// font
$font-size: 13px;
$font-weight: 500;

//colors
$moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-lackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);
